
.input-large input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: solid 1px var(--primaria-3)!important;
}

.input-large input:focus{
    outline: solid 2px var(--primaria)!important;
}


.textarea{
    padding: 10px;
    border-radius: 5px;
    width: 450px;
    height: 150px;
    outline: solid 1px var(--primaria-3)!important;
    border: none;
}

.textarea:focus{
    outline: solid 2px var(--primaria)!important;
}

/* .contact-container{
    margin-top: 50px;
}

.contact-container-d{
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.contact-grid{
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.grid1 { grid-area: 1 / 1 / 2 / 2; }
.grid2 { grid-area: 1 / 2 / 2 / 3; }


.contact-title{
    padding-top: 20px;
    text-align: center;
}

.contact-form-p{
    max-width: 39ch;
    font-family: 'Roboto Serif', sans-serif;
    opacity: 70%;
}


.contact-form-p-n{
    max-width: 39ch;
        
}

.contact-p-area{
    margin-top: -20px;
}

.contact-line{
    content: ' ';
    display: block;
    width: 450px;
    height: 1px;
    background-color: rgb(0, 0, 0, 0.2);
    margin: 10px 10px 0px 0px;
}

.contact-form-all{
    margin-top: 10px;
}

.contact-button{
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    width: 450px;
    margin-top: 10px;
    background-color: #0F2D49;
    padding: 10px 20px;
    color: white;
    font-family: 'Roboto Serif', sans-serif;
    transition: .3s;
    font-weight: 400;
}

.contact-button:hover{
    background-color: #1A4E7F;
}

@media(max-width: 991px){
    .contact-form-c{
        margin-left: auto;
        margin-right: auto;
    }

    .contact-form-c h1{
        text-align: center;
    }
    .contact-form-p{
        max-width: 100%;
        text-align: center;
    }
    
    .contact-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.2fr;
        grid-column-gap: 0px;
        grid-row-gap: 40px;
    }

    .grid1 { grid-area: 1 / 1 / 2 / 2; }
    .grid2 { 
        grid-area: 2 / 1 / 3 / 2; 
        margin-top: 40px;
        height: 200px;
    }

    .contact-form-all{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-escritorios{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 822px){
    .contact-button{
        cursor: pointer;
        border-radius: 5px;
        width: 450px;
        margin-top: 10px;
    }
}

@media(max-width: 503px){
    .contact-button{
        cursor: pointer;
        border-radius: 5px;
        width: 350px;
        margin-top: 10px;
    }
    .contact-line,
    .input-large,
    .textarea,
    .contact-button{
        width: 100%;
    }

}

@media(max-width: 375px){
    .contact-line,
    .input-large,
    .textarea,
    .contact-button{
        width: 100%;
    }
}

@media(max-width: 320px){
    .contact-container-d{
        margin-left: 10px;
    }
    .input-large{
        width: 270px;
    }
    .textarea{
        width: 270px;
    }
    .contact-line{
        width: 291px;
    }
    .contact-button{
        width: 270px;
    }
} */



/* FAQ */

.titulo-faq{
    display: flex;
    align-items: center;
    color: var(--cor-azulescuro);
}

.faq{

    /* background-color: var(--cor-branco);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10); */
}

.faq-pergunta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px var(--primaria-2);
}

.pergunta{
    border: none;
    background: transparent;
}

.btn-faq{
    display: flex;
    border-radius: 4px;
    height: auto;
    background: var(--cor-cinza);
    color: var(--cor-azulescuro);
    padding: 5px;
    border: none;
    transition: 0.3s;
}

.btn-faq:hover{
    background: #c6c6c6;
}

.btn-faq:active{
    background:#022a3f;
}

.faq-resposta{
    display: none;
    align-items: center;
}

.faq-resposta i{
    display: none;
    margin-left: 20px;
}
.faq-resposta p{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
    font-weight: 500;
}