.intro-bg{
    position: relative;
}

.intro-content{
    margin-top: 20px;
    padding: 80px;
    display: flex;
    justify-content: space-between;
}

.intro-titulo{
    position: relative;
}

.text-detail{
    top: -20px;
    position: absolute;
    content: "";
    width: 100px;
    height: 6px;
    background: #B98A58;
}

.intro-img{
    width: 50%;
    height: auto;
}

.intro-img img{
    border-radius: 4px;
    width: 600px;
    height: auto;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.20);
}

.intro-detail{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.intro-detail-2{
    rotate: 180deg;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media (max-width: 992px) {
    .intro-img img{
        display: none;
    }
    
    .intro-detail-2{
        display: none;
    }
}


.intro-btn{
    outline: none;
    border: none;
    background: var(--primaria);
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    transition: 0.3s;
}


.intro-btn:hover{
    background: var(--primaria-2);
}