.sobre-texto{
    padding-left: 20px;
}

.sobre-texto h1{
    margin-bottom: 40px;
    border-left: 4px solid var(--primaria);
    padding-left: 20px;
}

.sobre-detail{
    rotate: 180deg;
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
}

.objetivo-bg{
    z-index: -2;
    position: relative;
}

.objetivo-detail{
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}

@media (max-width: 993px){
    .content-img{
        display: none;
    }
}