@import url(bootstrap.css);
@import url(tipografia.css);
@import url(intro.css);
@import url(nav.css);
@import url(sidebar.css);
@import url(cases.css);

:root{  
    --primaria: #B98A58;
    --primaria-2: #E6D0B2; 
    --primaria-3: #90673C;

}

.bg-secondary{
    background: var(--preto-gradient, linear-gradient(241deg, #303030 2.97%, #212121 41.4%, #292929 87.92%));
}


.text-white{
    color: #fff;
}

.text-black-2{
    color: #494949;
}




body{
    background-color: #F9F8F6 !important;
}

a{
    text-decoration: none;
}

