@import url(bootstrap.css);
@import url(tipografia.css);
@import url(intro.css);
@import url(nav.css);
@import url(sidebar.css);
@import url(slides.css);
@import url(sobre.css);
@import url(faq.css);

:root{  
    --primaria: #5882B9;
    --primaria-2: #B2C9E6; 
    --primaria-3: #3C6090;
    --primaria-4: #CDE8FE;

}

.bg-secondary{
    background: var(--preto-gradient, linear-gradient(241deg, #303030 2.97%, #212121 41.4%, #292929 87.92%));
}

.bg-primary{
    background: var(--primaria);
}

.text-primario{
    color: var(--primaria);
}

.text-primario-2{
    color: var(--primaria-2);
}

.text-white{
    color: #fff;
}

.text-black-2{
    color: #494949;
}

body{
    background-color: #F6F7F9 !important;
    font-family: 'Inter', sans-serif !important;
}

a{
    text-decoration: none;
}

.reveal-txt, 
.reveal-img,
.reveal-contact{
    visibility: hidden;
}

.marker-primary-2 {
    background: var(--primaria-2);
    position: relative;
    display: inline-block;
}

[class|=marker]:before {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    content: "";
    background: inherit;
    z-index: -1;
    transition: right .4s ease-out 1.2s;
}

[class|=marker].active:before {
    right: 0;
}
