.font-xxl{
    font-family: 'Inter', sans-serif;
    font-size: 5.8rem !important;
    font-style: normal;
    font-weight: 800 !important;
    line-height: normal;
}

.font-xl{
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.font-l-3{
    font-family: 'Inter', sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.font-l-2{
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.font-l{
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.font-m-b{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
}

.font-m{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.font-p{
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.font-pp{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.font-xpp{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width:993px){
    .font-xxl{
        font-size: 3.5rem !important;
    }
}

@media (max-width:425px){
    .font-xxl{
        font-size: 3rem !important;
    }
    .font-xl{
        font-size: 2.5rem;
    }
    .font-m-b{
        font-size: 0.9rem;
    }
}

@media (max-width:375px){
    .font-xxl{
        font-size: 2.8rem !important;
    }
    .font-xl{
        font-size: 2.4rem;
    }
    .font-m{
        font-size: 0.9rem;
    }
}

@media (max-width:320px){
    .font-xxl{
        font-size: 2.2rem !important;
    }
    .font-l-3{
        font-size: 1.5rem !important;
    }
    .font-m-b{
        font-size: 0.7rem;
    }
    .font-m{
        font-size: 0.9rem !important;
    }
    .font-p{
        font-size: 0.8rem !important;
    }
}



